{{#extends 'base'}}
{{#block 'content'}}
<form  method = "POST">
  <div>
      <label class="form-label">Brand</label>
      <input type=text name="Brand" class="form-control">
  </div>
  <div>
      <label class="form-label">Model</label>
      <input type=text name="Model" class="form-control">
  </div>
  <div>
      <label class="form-label">Power Type</label>
      <select name="Power" class="form-control">
          <option value="Hybrid">Hybrid</option>
          <option value="Petrol">Petrol</option>
          <option value="Diesel">Diesel</option>
      </select>
  </div>
  <div>
      <label class="form-label">Type of Vehicle</label>
      <select name="Type" class="form-control">
          <option value="MPV">MPV</option>
          <option value="SUV">SUV</option>
          <option value="Saloon">Saloon</option>
      </select>
  </div>
  <div>
      <label class="form-label">No. of Seaters</label>
      <select name="Seaters" class="form-control">
          <option value="Five">Five Seaters</option>
          <option value="Seven">Seven Seaters</option>
      </select>
  </div>
  <div>
      <label class="form-label">Year Made</label>
      <input type=text name="Year" class="form-control">
  </div>
  <div>
      <label class="form-label">Price</label>
      <input type=text name="Cost" class="form-control">
  </div>
  <div>
      <label class="form-label">Car accessories</label>
      <div>
          <input class="form-check-input mr10" name="Accessories" type="checkbox" value="Radio" /><label class="form-check-label">Radio</label>
          <input class="form-check-input mr10" name="Accessories" type="checkbox" value="Aircon" /><label class="form-check-label">Aircon</label>
          <input class="form-check-input mr10" name="Accessories" type="checkbox" value="Leather" /><label class="form-check-label">Leather Seats</label>
      </div>
  </div>
  <input type="submit" class="btn btn-primary mt-3"/>
</form>
{{/block}}
{{/extends}}